.navbar-brand{
    font-weight: bold;
}

#navbarLinks .nav-item .nav-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

#navbarLinks .nav-item:hover .nav-link {
    font-weight: bold;
    border-color: #a57c2a;
}

#get-started-button {
    color: white;
    background-color: #a57c2a;
    border-radius: 20px;
}

@media (max-width: 992px) {
    #get-started-button {
        background: none;
        color: #a57c2a;
        border-radius: 0;
    }
}

#inspirationDropdown, #coursesDropdown{
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#inspirationDropdown.show, #coursesDropdown.show{
    max-height: 500px;
    opacity: 1;
}

#imageSlideShow{
    width: 88%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .carousel-item {
        height: 25rem;
    }
}

.list-images {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.photo-data :not(h5){
    color: rgb(128, 128, 128);
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
    border-bottom: 2px solid #a57c2a;
}

.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}

a{
    color: black;
    text-decoration: none;
}

#topicList{
    padding: 20px 0 20px 0;
}

#topicList .list-group-item::before {
    padding-left: 0;
    margin-left: 0;
    content: "+";
    color: #000000;
    font-weight: bold;
    margin-right: 10px;
}

#topicList .list-group-item {
    border: none;
    padding-left: 0;
    border-radius: 0;
}

.form-inline {
    color: rgb(128, 128, 128);
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

#searchBar{
    border: none;
}

#searchBar:focus{
    border: none;
    outline: 1px solid rgb(128, 128, 128);
}