.navbar-brand{
    font-weight: bold;
}

#navbarLinks .nav-item:hover .nav-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #a57c2a;
}

#get-started-button {
    color: white;
    background-color: #a57c2a;
    border-radius: 20px;
    padding: 10px 10px;
    width: 105px;
}

#inspirationDropdown, #coursesDropdown{
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#inspirationDropdown.show, #coursesDropdown.show{
    max-height: 500px;
    opacity: 1;
}


